.list {
  border: 2px solid #f8a72e; /* Verde */
  border-radius: 28px;        /* Bordes redondeados */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
    border-color: #edae1b; /* Verde más oscuro al pasar el mouse */
  }
}
